#hero {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

#hero div {
    height: 170px;
    margin: 16px;
}

#hero #right {
    background-image: url(./roasted-coffee.jpg);
    background-size: cover;
}

#hero, #body, #opening_hours, p {
    outline: black 2px solid;
}

#body, #opening_hours, p {
    padding: 16px;
    overflow: scroll;
}

button {
    padding: 16px 10%;
    margin: 16px;
}

#home {
    margin-left: 0px;
}